body {
    background-image: url(images/Digital_rain_animation_medium_letters_shine.gif);
    background-repeat: no-repeat;
    background-size: 1370px 667px;
  }

  .gif {
    background-image: url(images/Digital_rain_animation_medium_letters_shine.gif);
    background-repeat:
    background-size: 1370px 667px;
  }

  .newgif {
    background-image: url(images/giphy.gif);
    background-repeat: no-repeat;
    background-size: 1370px 667px;
  }


  
 

    
    
  